Lib/
Include
pyvenv.cfg
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/deactivate.bat
Scripts/django-admin.exe
Scripts/pip.exe
Scripts/pip3.11.exe
Scripts/pip3.exe
Scripts/python.exe
Scripts/pythonw.exe
Scripts/sqlformat.exe